@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #1e1b1b;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  width: 60vw;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

h2 {
  font-size: 35px;
  font-weight: 580;
  line-height: 50px;
}

h3 {
  font-size: 30px;
  font-weight: 550;
  line-height: 40px;
}

p {
  font-size: 15px;
  font-weight: 600;
}
/* 
.small-text {
  display: block;
  margin-top: 5%;
  color: #f2f2f2;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
} */

.opaque {
  opacity: 0.7;
}

.know-learn-services {
  font-size: 12px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

li {
  margin: 0 1vw;
  list-style: none;
}

.white-text, .orange-button {
  color: #ffffff;
}

.grid-box {
  padding: 5%;
  margin-right: 10px;
  background-color: #ffffff;
} 

.grid-card {
  padding: 16%;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
}

.activee {
  color: #ff6433;
}

.logo:hover {
  transform: scale(1.1);
  transition: 1s;
}

.pad-top-one {
  padding-top: 1%;
}

.pad-top-five {
  padding-top: 5%;
}

.margin-top-ten {
  margin-top: 10%;
}

.margin-bottom-five {
  margin-bottom: 5%;
}

.view-one, .view-two, .view-four, .view-five, .view-three {
  padding: 5% 0;
}

 .view-two, .view-five, .view-four {
  background-color: #e2e6e9;
}

.view-four {
  background-color: #f2f2f2;
}

.view-five, .black-button {
  background-color: #1e1b1b;
}

.view-six {
  padding: 2% 0;
  background-color: #000;
}

.orange-button {
}

.orange-button {
  margin: 5% 0;
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 15px;
  border-radius: 12px;
  padding: 16px 30px 16px 30px;
}

.flex {
  display: flex;
}

.align {
  align-items: center;
}

.text-align {
  text-align: center;
}

.justify {
  justify-content: space-between;
}

.right {
  margin-right: 1vw;
}

.section-one, .section-two {
  width: 50vw;
}

.section-two, .relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-card:hover {
  transition: 5s !important;
}

.images-flex {
  margin: 5% 0;
}

.black-card {
  top: 0;
  left: 35%;
  padding:7%;
  background-color: #1e1b1b;
}

.black-card-text {
  color: #f2f2f2;
}

 .active, .accordion:hover, .grid-card:hover, .orange-button, input[type="submit"] {
  background-color: #ff6433;
}


