@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #1e1b1b;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  width: 60vw;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

h3 {
  font-size: 30px;
  font-weight: 550;
  line-height: 40px;
}

h4 {
  font-size: 25px;
  font-weight: 550;
  line-height: 40px;
}

p {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

.text {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10%;
}

.small-text {
  color: gray;
  display: block;
  margin-top: 5%;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
}

li {
  margin: 0 1vw;
  list-style: none;
}

.activee {
  color: #ff6433;
}

.logo:hover {
  transform: scale(1.1);
  transition: 1s;
}

.grid-box {
  padding: 5%;
  background-color: #ffffff;
} 

.grid-card {
  padding: 16%;
  margin: 15px;
  text-align: center;
  background-color: #ffffff;
}

.pad-top-one {
  padding-top: 1%;
}

.pad-top-five {
  padding-top: 5%;
}

.margin-top-ten {
  margin-top: 10%;
}

.margin-bottom-five {
  margin-bottom: 5%;
}

.view-one, .view-five {
  padding: 5% 0;
}

 .view-five {
  background-color: #e2e6e9;
}

.view-five, .black-button {
  background-color: #1e1b1b;
}

.view-six {
  padding: 2% 0;
  background-color: #000;
}

.flex {
  display: flex;
}

.align {
  align-items: center;
}

.text-align {
  text-align: center;
}

.justify {
  justify-content: space-between;
}

.right {
  margin-right: 1vw;
}

.section-one, .section-two {
  width: 50vw;
}

.box-one {
  width: 30%;
  margin-right: 10%;
}

.box-two {
  width: 70%;
}

.gray-box {
  background-color: #f2f2f2;
}

.section-two, .relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
}

.grid-card:hover {
  transition: 5s !important;
}

.images-flex {
  margin: 5% 0;
}

 .grid-card:hover {
  background-color: #ff6433;
}

.orange-card-text, .white-text, .black-button {
  color: #ffffff;
}

.orange-card, .grid-card:hover {
  background-color: #ff6433;
}

.orange-card {
  width: 77%;
  height: 300px;
  font-size: 18px;
  font-weight: 700;
  padding: 19% 16.7%;
}

.absolute {
  top: 0;
  left: 23%;
}

.orange-card-text {
  font-weight: 200;
  margin-top: 10%;
}

.black-button {
  margin: 5% 0;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  padding: 16px 30px 16px 30px; 
}

 

